body {
    background-color: rgb(3, 19, 24);
}
h1 {
    text-align: center;
    position: relative;
    top: 10vh;
}

h2 {
    position: relative;
    top: 20vh;
    left: 5vw;
}

* {
    color: rgb(212, 208, 208);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.sideNote {
    position: relative;
    left: 70vw;
    top: 20vh;
}

.mainNote {
    position: relative;
    text-align: center;
    top: 1vh;
    padding: 100px;
}

.backBtn {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

#bilde {
    position: relative;
    width: 30vw;
    height: 35vh;
    background-position: center;
    left: 35%;
}

table, tr, th, td {
    position: relative;
    text-align: center;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    /* left: 18vw;
    top: 18vh; */
}

th, td {
    padding: 4px;
}

.editBtns {
    color: black;
    cursor: pointer;
}

.deleteBtns {
    color: black;
    cursor: pointer;
}

.addBtns {
    color: black;
    cursor: pointer;
}

.userLink {
    color: rgb(74, 149, 211);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.inputField {
    position: relative;
    top: 28vh;
    left: 5vw;
    width: 250px;
    color: black;
}

.picInputField {
    position: relative;
    top: 17vh;
    left: -5.1vw;
    width: 80px;
    color: black;
}

.addInput {
    position: relative;
    top: 28vh;
    left: 5vw;
    color: black;
    cursor: pointer;
}

#mainNote {
    position: relative;
    top: 15vh;
    left: 5vw;
    width: 250px;
    height: 200px;
    color: black;
}

#sideNote {
    position: relative;
    top: -10vh;
    left: 7.8vw;
    width: 250px;
    color: black;
}

.addNewNote {
    position: relative;
    top: 22.5vh;
    left: -5vw;
    height: 60px;
    width: 100px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.addSideNote {
    position: relative;
    top: -10vh;
    left: 10vw;
    color: black;
    cursor: pointer;
}

#imgPlaceholder {
    position: relative;
    height: 300px;
    width: 250px;
    top: 25vh;
    left: -5.7vw;
}

#addImage {
    position: relative;
    height: 50px;
    width: 50px;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    top: 23vh;
    left: -10vw;
}