body {
    background-color: rgb(3, 19, 24);
}
h1 {
    text-align: center;
    position: relative;
    top: 10vh;
}

* {
    color: rgb(212, 208, 208);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.sideNote {
    position: relative;
    left: 70vw;
    top: 20vh;
}

.mainNote {
    position: relative;
    text-align: center;
    top: 1vh;
    padding: 100px;
}

.backBtn {
    font-weight: bold;
    padding: 10px;
}

#bilde {
    position: relative;
    width: 30vw;
    height: 35vh;
    background-position: center;
    left: 35%;
}

table, tr, th, td {
    position: relative;
    text-align: center;
    border: 1px solid grey;
    border-collapse: collapse;
}

.editBtns {
    color: black;
    cursor: pointer;
}

.userLink {
    color: rgb(74, 149, 211);
    font-weight: bold;
    text-decoration: underline;
}